* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--title {
    margin-bottom: -0.3em;
}

.hero--background {
    max-width: 400px;
    align-self: center;
}

.hero--text {
    margin-top: 0;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card--image {
    position: relative;
    text-align: center;
    color: white;
}

.card--status {}

.card--instance {
    max-width: 200px;
    margin-bottom: -0.5rem;
    border-radius: 10px;
}

.top-left {
    color: white;
    position: absolute;
    top: 8px;
    left: 16px;
}

.card--text {
    font-size: 12px;
}